body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.site-content {
    flex-grow: 1;
}

footer {
    padding-top: 20px; /* Add padding to ensure space between content and footer */
    background-color: #343a40; /* Adjust the background color as needed */
    color: white; /* Adjust the text color as needed */
    text-align: center;
    position: sticky;
    bottom: 0;
}
